<h2>Country code: {{ countryCode }}</h2>
<table class="country">
	<tr>
		<td>Population of country:</td>
		<td>{{ selectedCountry.population | number }}</td>
	</tr>
	<tr>
		<td>Area:</td>
		<td>{{ selectedCountry.areaInSqKm | number }}</td>
	</tr>
	<tr>
		<td>Capital:</td>
		<td>{{ selectedCountry.capital }}</td>
	</tr>
	<tr>
		<td>Population of capital:</td>
		<td>test</td>
	</tr>
	<tr>
		<td>Neighbours:</td>
		<td>
			<span ng-repeat="neighbour in neighbours">{{ neighbour.countryName || 'no neighbours :(' }}{{ $last ? '' : ', ' }}</span>
		</td>
	</tr>
</table>
<img src="#" alt="country map">
<!-- <img ng-src="http://www.geonames.org/flags/x/{{ countryCode }}.gif" alt="country flag"> -->
<button type="button" name="homeBtn" onclick="window.location.href='/#'" >Home</button>
<button type="button" name="browseCountriesBtn" onclick="window.location.href='/#/countries'">Browse Countries</button>
