<h2>{{ selectedCountry.countryName }}</h2>
<h3>Country code: {{ countryCode }}</h3>
<table class="country">
	<tr>
		<td>Population of country:</td>
		<td>{{ selectedCountry.population | number }}</td>
	</tr>
	<tr>
		<td>Area:</td>
		<td>{{ selectedCountry.areaInSqKm | number }}</td>
	</tr>
	<tr>
		<td>Capital:</td>
		<td>{{ selectedCountry.capital || 'None'}}</td>
	</tr>
	<tr>
		<td>Population of capital:</td>
		<td>{{ capital.population || 0 }}</td>
	</tr>
	<tr>
		<td>Neighbours:</td>
		<td>
			<span ng-repeat="neighbour in neighbours" ng-click="goToNeighbour(neighbour.countryCode)">{{ neighbour.countryName }}{{ $last ? '' : ', ' }}</span>
		</td>
	</tr>
</table>
<img class="map" src="http://www.geonames.org/img/country/250/{{ selectedCountry.countryCode | uppercase }}.png" alt="country map">
<img class="flag" ng-src="http://www.geonames.org/flags/x/{{ selectedCountry.countryCode | lowercase }}.gif" alt="country flag"><br>
<button type="button" name="homeBtn" onclick="window.location.href='#/'" >Home</button>
<button type="button" name="browseCountriesBtn" onclick="window.location.href='#/countries'">Browse Countries</button>
